@import './styles.css';

:root {
    --primary-color: #1F4E79;
    --secondary-color: #333333;
    --acent-color: #FFC107;
}

header {
    background-color: var(--primary-color);
}

.about-main {
    width: min(1440px, 100%);
    padding: min(70px, 10vw) min(115px, 10vw);
    margin-top: min(100px, 20vw);

    @media (min-width: 768px) {
        margin: 100px auto 0;
    }
}

.about-detail {
    width: min(1440px, 100%);
    display: flex;
    align-items: center;
    gap: min(3rem, 10vw);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.2s ease-out forwards;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: min(1rem, 5vw);
}

.about-info h2 {
    font-size: min(3rem, 10vw);
    text-transform: uppercase;
}

.about-info p {
    font-size: min(1.25rem, 5vw);
}

.about-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: min(1rem, 5vw);
    align-items: center;

    @media (max-width: 768px) {
        display: flex;

    }
}

.hero-img-container {
    width: 300px;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 500px) {
        display: none;
    }
}

.item-1 { 
    @media (min-width: 768px) {
        grid-area: 1 / 1 / 3 / 2; 
    }
}

.item-2 { 
    @media (min-width: 768px) {
        grid-area: 1 / 2 / 2 / 3; 
    }
}

.item-3 { 
    @media (min-width: 768px) {
        grid-area: 2 / 2 / 3 / 3; 
    }
    @media (max-width: 768px) {
        display: none;
    }
}


.about-cards {
    margin-top: min(10rem, 10vw);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: min(3rem, 10vw);

    @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    width: min(350px, 100%);
    height: fit-content;
    background-color: var(--primary-color);
    color: white;
    padding: 32px;
    border-radius: 16px;
    margin: 0 auto;

    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.card h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.card p {
    font-size: 1rem;
    color: #B0B0B0;
    margin-top: .5rem;
}


.card-1 { 
    grid-area: 1 / 1 / 2 / 2; 
    @media (min-width: 769px) {
        margin-top: 1.5rem;
    }
}
.card-2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.card-3 { 
    grid-area: 2 / 1 / 3 / 3;
 }

footer {
    margin-top: 0;
}