@keyframes slide-out-to-left {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes slide-out-to-right {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes arrowMove {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

@keyframes show {
    from {
        opacity: 0; 
        scale: 80%;
    } to {
        opacity: 1; 
        scale: 100%;
    }
}

@keyframes showLeft {
    from {
        opacity: 0; 
        scale: 80%;
        transform: translate(-130%, 60%);
    } to {
        opacity: 1; 
        scale: 100%;
        transform: translate(0, 0);
    }
}

@keyframes showRight {
    from {
        opacity: 0; 
        scale: 80%;
        transform: translate(130%, 60%);
    } to {
        opacity: 1; 
        scale: 100%;
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse-animation {
    0% {
    box-shadow: 0 0 0 0px rgba(73, 201, 89, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(73, 201, 89, 0);
  }
}