@import './styles.css';

header {
    background-color: var(--primary-color);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(2rem, 10vw);
    width: 100%;
    margin-top: 100px;
}

.slider {
    width: min(1000px, 90vw);
    height: min(500px, 40vh);
    margin: 60px auto 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: min(1rem, 2vw);
}

.slider-list {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    transition: 1s;
    
    & img {
        width: min(1000px, 90vw);
        height: min(500px, 40vh);
        border-radius: min(1rem, 2vw);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        object-fit: cover;
    }
}

.buttons {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;

    & button {
        width: min(32px, 8vw);
        height: min(32px, 8vw);
        border-radius: 100%;
        background-color: rgba(174, 174, 174, 0.5);
        border: none;
        color: white;
        font-family: monospace;
        font-weight: bold;
        cursor: pointer;
    }
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info-detail-projet {
    width: min(1200px, 90vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-out forwards;
}

.info-detail-projet h2 {
    font-size: min(2rem, 8vw);
    font-weight: 600;
    margin: min(1rem, 2vw) 0;
    text-align: center;
}

.info-detail-projet p {
    font-size: min(1rem, 4vw);
    text-align: center;
    padding: 0 min(300px, 4vw);
}

.suggested-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: min(2rem, 2vw);

    & h2 {
        font-size: min(1.5rem, 6vw);
        font-weight: 600;
    }
}

.moreProject-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    width: min(1200px, 90vw);
}

