@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './animation.css';


:root {
    --primary-color: #1F4E79;
    --secondary-color: #333333;
    --acent-color: #FFC107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 32px 115px;
    background-color: transparent;

    transition: all .3s ease;

    & a {
        text-decoration: none;
    }

    &.stuck2 {
        transform: rotateY(-100%);
        opacity: 0;
        transition: all .3s ease;
    }

    &.stuck {
        top: 0;
        background: var(--primary-color);
        padding: 8px 115px;
        box-shadow: 0 4px 10px rgba(0,0,0,.5);
        opacity: 1;
        transition: all .3s ease;
    }
}


.logo {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 1;
    text-transform: uppercase;
}

header nav {
    display: flex;
    color: white;
}


.socials {
    display:flex;
    gap: 1rem;
}

.socials a {
    text-decoration: none;
    color: white;

    &:hover {
        color: var(--acent-color);
    }
}

 .nav-item {
    list-style-type: none;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    transition: all .3s ease;

    &:hover {
        background-color: var(--acent-color);
    } 
}



.hero {
    height: 100vh;
    width: 100%;
    padding: 0 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    position: relative;
}

.hero-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.hero-video video {
    width: 100%;
}

.arrow {
  position: absolute;
  bottom: 8%;
  color: var(--acent-color);
  animation: arrowMove 1.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    stroke-width: 3;
  }
}

.hero-title {
    font-size: 5rem;
    text-align: center;
    color: white;
}

.hero-btn {
    padding: 20px 32px;
    background-color: var(--acent-color);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    transition: background-color 100ms ease-in;

    &:hover {
        background-color: var(--primary-color);
    }
}

#about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 115px;
    margin-top: 115px;
    background-color: white;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    view-timeline-name: --reveal;
    animation-name: showLeft;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.about-title {
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: uppercase;
}

.about-description {
    font-size: 1.25rem;
}

.about-btn {
    width: fit-content;
    padding: 20px 38px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    border-radius: 1rem;
    transition: background-color 100ms ease-in;

    &:hover {
        background-color: #e3b220;
    }
}

.about-img-container {
    background-color: #333333;
    width: 90%;
    height: 440px;
    border-radius: 1rem;
    overflow: hidden;

    view-timeline-name: --reveal;
    animation-name: showRight;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

#services {
    width: 100%;
    background-color: var(--primary-color);
    padding: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.services-title {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 337px;
    height: 345px;
    background-color: #D9D9D9;
    border-radius: 1.5rem;

    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

}

.service-name {
    text-align: center;
}

.img-container {
    width: 260px;
    height: 220px;
    border-radius: 1rem;
    overflow: hidden;
    
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#projects {
    width: 100%;;
    padding: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: white;
}

.projects-title {
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: uppercase;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-card {
    width: 388px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.project-img-container {
    width: 100%;
    height: 236px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info-project {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 24px 20px;
}

.project-card-btns-container {
    display: flex;
    gap: 1rem;
}

.project-btn {
    width: fit-content;
    padding: 16px 24px;
    text-decoration: none;
    color: white;
    font-size: .75rem;
    border-radius: 1rem;
    transition: background-color 100ms ease-in;
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--acent-color);
    }
}

#contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 100px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 438px;
    padding: 5rem;
    border-radius: 1.25rem;
    position: absolute;
    left: 16%;
    
    color: white;
    background-color: var(--secondary-color);
}

.contact-info h2 {
    font-size: 2rem;
}

.contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;

    & a {
        text-decoration: none;
        color: white;

        &:hover {
            color: var(--acent-color);
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 798px;
    padding: 60px 40px 60px 250px;
    margin-left: 200px;
    border-radius: 1.5rem;
    background-color: var(--primary-color);
    color: white;
}

.contact-form header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    z-index: 1;
    width: 70%;
    gap: .5rem;
    padding: 0;
}

.contact-form input, textarea, select {
    width: 70%;
    padding: .75rem 2rem;
    border-radius: 1rem;
    border: none;
}



.contact-form textarea {
    height: 130px;
}

.contact-form button {
    width: fit-content;
    padding: 1rem 3rem;
    background-color: var(--acent-color);
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    transition: background-color 100ms ease-in;
    cursor: pointer;

    &:hover {
        background-color: #e3b220;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 115px;
    margin-top: 8rem;
    background-color: var(--primary-color);
}

footer p {
    font-size: .90rem;
    color: white;
}

.myLink {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: var(--acent-color);
    }
}

@view-transition {
    navigation: auto
}

::view-transition-group(*) {
    animation-duration:.5s;
}

::view-transition-old(root) {
    animation: slide-out-to-left .5s forwards;
}

::view-transition-new(root) {
    animation: slide-out-to-right .5s forwards;
}

