@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './animation.css';

:root {
    --primary-color: #1F4E79;
    --secondary-color: #333333;
    --acent-color: #FFC107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: min(32px, 5vw) min(115px, 10vw);
    background-color: transparent;

    transition: all .3s ease;

    & a {
        text-decoration: none;
    }

    &.stuck2 {
        transform: rotateY(-100%);
        opacity: 0;
        transition: all .3s ease;
    }

    &.stuck {
        top: 0;
        background: var(--primary-color);
        padding: min(12px, 5vw) min(115px, 10vw);
        box-shadow: 0 4px 10px rgba(0,0,0,.5);
        opacity: 1;
        transition: all .3s ease;
    }

    @media (max-width: 576px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.logo {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 1;
    text-transform: uppercase;
}

header nav {
    display: flex; 
    color: white;
    
    @media (max-width: 576px) {
        display: none;
    }
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials a {
    text-decoration: none;
    color: white;

    &:hover {
        color: var(--acent-color);
    }

    @media (max-width: 576px) {
        display: none;
    }
}

 .nav-item {
    list-style-type: none;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    transition: all .3s ease;

    &:hover {
        background-color: var(--acent-color);
    } 
}

.mobile-menu-btn {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    
    @media (max-width: 576px) {
        display: block;
    }
}

.hero {
    height: 100dvh;
    height: 100vh;
    width: 100%;
    padding: 0 min(115px, 10vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    position: relative;

    @media (max-width: 768px) {
        padding: 0 min(24px, 5vw);
        height: 145vh;
    }
}

.hero-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.hero-video video {
    width: 100%;

    @media (max-width: 768px) {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.arrow {
  position: absolute;
  bottom: 8%;
  color: var(--acent-color);
  animation: arrowMove 1.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    stroke-width: 3;
  }

  & a {
    text-decoration: none;
    color: var(--acent-color);

    &:hover {
        animation: none;
    }
  }

  @media (max-width: 576px) {
    bottom: 12%;
  }
}

.hero-title {
    font-size: clamp(2rem, calc(2rem + 2vw), 5rem);
    text-align: center;
    color: white;
}

.hero-btn {
    padding: 20px 32px;
    background-color: var(--acent-color);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    transition: background-color 100ms ease-in;

    &:hover {
        background-color: var(--primary-color);
    }
}

#about {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: min(115px, 10vw);

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.about-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
    view-timeline-name: --reveal;
    animation-name: showLeft;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

    @media (max-width: 768px) {
        width: 100%;
        align-items: center;
        text-align: center;

        animation-name: show;
    }
}

.about-title {
    color: var(--primary-color);
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
    line-height: 1;
}

.about-description {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.6;
    padding-right: 1.5rem;
    
    @media (max-width: 768px) {
        padding-right: 0;
        font-weight: 500;
        line-height: 1.5;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }
}

.about-btn {
    width: fit-content;
    padding: min(16px, 2vw) min(24px, 3vw);
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    border-radius: 1rem;
    transition: background-color 100ms ease-in;

    &:hover {
        background-color: #e3b220;
    }
}

.about-img-container {
    background-color: #333333;
    width: 80%;
    height: 360px;
    border-radius: 1rem;
    overflow: hidden;

    view-timeline-name: --reveal;
    animation-name: showRight;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

}

#services {
    width: 100%;
    background-color: var(--primary-color);
    padding: min(60px, 14vw) min(115px, 5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(3rem, 12vw);
}

.services-title {
    color: white;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
    text-align: center;
}

.services-container {
    width: min(1200px, 100%);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: min(337px, 100%);
    height: fit-content;
    padding: min(2rem, 5vw) min(1.5rem, 2vw);
    margin: 0 auto;
    background-color: #D9D9D9;
    border-radius: 1.5rem;

    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

}

.service-name {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1rem);
}

.img-container {
    width: 260px;
    height: 220px;
    border-radius: 1rem;
    overflow: hidden;
    
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#projects {
    width: 100%;
    padding: min(60px, 14vw) min(115px, 5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(3rem, 12vw);
    background-color: white;
}

.projects-title {
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: uppercase;
}

.projects-container {
    width: min(1200px, 100%);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    width: 388px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.project-img-container {
    width: 100%;
    height: 236px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info-project {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 24px 20px;
}

.project-card-btns-container {
    display: flex;
    gap: 1rem;
}

.project-btn {
    width: fit-content;
    padding: 16px 24px;
    text-decoration: none;
    color: white;
    font-size: .75rem;
    border-radius: 1rem;
    transition: background-color 100ms ease-in;
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--acent-color);
    }
}

#contact {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contact-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 100px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 438px;
    padding: 5rem;
    border-radius: 1.25rem;
    position: absolute;
    left: 10%;
    
    color: white;
    background-color: var(--secondary-color);
}

.contact-info h2 {
    font-size: 2rem;
}

.contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;

    & a {
        text-decoration: none;
        color: white;

        &:hover {
            color: var(--acent-color);
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 798px;
    padding: 60px 40px 60px 250px;
    margin-left: 200px;
    border-radius: 1.5rem;
    background-color: var(--primary-color);
    color: white;
}

.contact-form header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    z-index: 1;
    width: 70%;
    gap: .5rem;
    padding: 0;
}

.contact-form input, textarea, select {
    width: 70%;
    padding: .75rem 2rem;
    border-radius: 1rem;
    border: none;
}



.contact-form textarea {
    height: 130px;
}

#submitBtn {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    padding: 1rem 3rem;
    background-color: var(--acent-color);
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    transition: background-color 100ms ease-in;
    cursor: pointer;

    &:hover {
        background-color: #e3b220;
    }
}

.spinner {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.chatBtn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 100%;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        width: 48px;
        height: 48px;
        padding: 12px;
        background-color: #49c959;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.chatBtn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #49c959;
    box-shadow: 0 0 1px 1px rgba(73, 201, 89, .8);
    z-index: -1;

    animation: pulse-animation 2.5s ease-in-out 2.5s infinite;
}
.chatBtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #49c959;
    box-shadow: 0 0 1px 1px rgba(73, 201, 89, .8);  
    z-index: -1;

    animation: pulse-animation 2.5s ease-in-out 2s infinite;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: min(32px, 6vw) min(115px, 8vw);
    margin-top: 8rem;
    background-color: var(--primary-color);
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}

footer p {
    font-size: clamp(0.875rem, 2vw, 1rem);
    color: white;
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 0.75rem);

    @media (max-width: 768px) {
        margin-bottom: -1rem;
    }
}

.myLink {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: var(--acent-color);
    }

    @media (max-width: 768px) {
        color: var(--acent-color);
    }
}

@view-transition {
    navigation: auto
}

::view-transition-group(*) {
    animation-duration: .8s;
}

::view-transition-old(root) {
    animation: slide-out-to-left .8s forwards;
}

::view-transition-new(root) {
    animation: slide-out-to-right .8s forwards;
}

